# Apriori

In [1]:
dataset = [
    ['Milk','Onion','NutMeg','Kidney Beans','Eggs','Yogurt'],
    ['Dill','Onion','NutMeg','Kidney Beans','Eggs','Yogurt'],
    ['Milk','Apple','Kidney Beans','Eggs'],
    ['Milk','Unico','Corn','Kidney Beans','Yogurt'],
    ['Corn','Onion','Onion','Kidney Beans','Ice cream','Eggs'],
]

In [4]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [3]:
dataset

[['Milk', 'Onion', 'NutMeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Dill', 'Onion', 'NutMeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unico', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [5]:
te= TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)

In [7]:
df = pd.DataFrame(te_ary,columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,NutMeg,Onion,Unico,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [9]:
from mlxtend.frequent_patterns import apriori
frequent_itemsets =apriori(df,min_support=0.6,use_colnames=True)
frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Eggs, Kidney Beans, Onion)

# Association Rule Mining

In [12]:
from mlxtend.frequent_patterns import association_rules
res = association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7)
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0,0.0
1,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf,0.0
2,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0
3,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
5,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
6,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
7,"(Kidney Beans, Eggs)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0
8,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
9,"(Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5
10,(Eggs),"(Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0
11,(Onion),"(Kidney Beans, Eggs)",0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5

In [13]:
res_1 = res[['antecedents','consequents','support','confidence','lift']]
res_1

              antecedents            consequents  support  confidence  lift
0          (Kidney Beans)                 (Eggs)      0.8        0.80  1.00
1                  (Eggs)         (Kidney Beans)      0.8        1.00  1.00
2                  (Eggs)                (Onion)      0.6        0.75  1.25
3                 (Onion)                 (Eggs)      0.6        1.00  1.25
4                  (Milk)         (Kidney Beans)      0.6        1.00  1.00
5                 (Onion)         (Kidney Beans)      0.6        1.00  1.00
6                (Yogurt)         (Kidney Beans)      0.6        1.00  1.00
7    (Kidney Beans, Eggs)                (Onion)      0.6        0.75  1.25
8           (Onion, Eggs)         (Kidney Beans)      0.6        1.00  1.00
9   (Kidney Beans, Onion)                 (Eggs)      0.6        1.00  1.25
10                 (Eggs)  (Kidney Beans, Onion)      0.6        0.75  1.25
11                (Onion)   (Kidney Beans, Eggs)      0.6        1.00  1.25

In [15]:
res_2 = res_1[res_1['confidence'] >=1]
res_2

              antecedents           consequents  support  confidence  lift
1                  (Eggs)        (Kidney Beans)      0.8         1.0  1.00
3                 (Onion)                (Eggs)      0.6         1.0  1.25
4                  (Milk)        (Kidney Beans)      0.6         1.0  1.00
5                 (Onion)        (Kidney Beans)      0.6         1.0  1.00
6                (Yogurt)        (Kidney Beans)      0.6         1.0  1.00
8           (Onion, Eggs)        (Kidney Beans)      0.6         1.0  1.00
9   (Kidney Beans, Onion)                (Eggs)      0.6         1.0  1.25
11                (Onion)  (Kidney Beans, Eggs)      0.6         1.0  1.25